@import 'tailwindcss';

:root {
  --background: var(--color-amber-50);
  --foreground: var(--color-amber-950);
  --surface: var(--color-amber-100);
  --line: var(--color-amber-200);
  --elite: var(--color-amber-500);
  --light: var(--color-amber-800);
  --order: var(--color-red-800);
  --chaos: var(--color-green-800);
  --shadow: var(--color-violet-800);
  --firstPlayer: var(--color-red-500);
  --secondPlayer: var(--color-blue-500);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-line: var(--line);
  --color-order: var(--order);
  --color-chaos: var(--chaos);
  --color-shadow: var(--shadow);
  --color-elite: var(--elite);
  --color-common: var(--common);
  --color-light: var(--light);
  --color-first-player: var(--firstPlayer);
  --color-second-player: var(--secondPlayer);
  --font-serif:
    var(--font-noto-serif), Georgia, 'Times New Roman', Times, serif;

  --animate-wiggle: wiggle 1s ease-in-out infinite;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  --animate-fade-in-scale-up-slow: 0.5s fadeInScaleUp ease-in-out both;

  --animate-fade-in-scale-up-slow-delayed: 0.5s fadeInScaleUp 0.5s ease-in-out
    both;

  --animate-fade-in-scale-up-xl-delayed: 0.5s fadeInScaleUp 1s ease-in-out both;

  @keyframes fadeInScaleUp {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-slide-in-from-left-slow: 1s slideInFromLeft both;
  --animate-slide-in-from-right-slow: 1s slideInFromRight both;

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  --animate-ping-once: 0.5s ping 1.8s cubic-bezier(0, 0, 0.2, 1);

  @keyframes ping {
    75% {
      transform: scale(1.5);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-amber-950);
    --foreground: var(--color-amber-50);
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-serif), Georgia, 'Times New Roman', Times, serif;
}
